<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>225382796193-h7hdmcta99bsea3hn3fs0987j1cj7dtj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.225382796193-h7hdmcta99bsea3hn3fs0987j1cj7dtj</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>225382796193-uli326ahg367ovi9fqs5kuk5uu5515gj.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCJvlRebpr0SOrK12FuYuBUL9uaRDYhYBg</string>
	<key>GCM_SENDER_ID</key>
	<string>225382796193</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterEntryData</string>
	<key>PROJECT_ID</key>
	<string>mythical-temple-368706</string>
	<key>STORAGE_BUCKET</key>
	<string>mythical-temple-368706.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:225382796193:ios:628cb456c410f53b5819e0</string>
</dict>
</plist>